<div
  class="performer-new-panel">
  <div class="input-row">
    <input type="text" [(ngModel)]="performer!.displayName" #ctrl="ngModel">
    <label>Display Name</label>
  </div>
  <div class="input-row">
    <input type="text" [(ngModel)]="performer!.link" #ctrl="ngModel">
    <label>Website or Primary Link</label>
  </div>
  <div class="input-row">
    <input type="text" [(ngModel)]="performer!.socialIg" #ctrl="ngModel">
    <label>Instagram</label>
  </div>
  <div class="button-row">
    <button (click)="onClickSubmit()">Save</button>
    <button (click)="onClickCancel()">Cancel</button>
  </div>
</div>
