<main>
  <slider-session-panel></slider-session-panel>
  <div class="roster-section">
    <div class="roster-header">Roster</div>
    <slider-loading-panel-entry
      *ngIf="stateService.isRosterLoading"></slider-loading-panel-entry>
    <div 
      class="roster-entry"
      *ngFor="let performer of stateService.roster"
      [class.roster-selected]="stateService.selectedPerformer === performer"
      (click)="onClickRoster(performer)">
      <div>{{ performer.displayName }}</div>
      <div *ngIf="stateService.selectedPerformer === performer">
        <div 
          *ngIf="stateService.selectedPerformer.socialIg"
          class="roster-attribute">
          &#64;{{ performer.socialIg }}
        </div>
        <div 
          *ngIf="stateService.selectedPerformer.link"
          class="roster-attribute">
          <a 
            [href]="stateService.selectedPerformer.link"
            target="_blank">
            {{ performer.link }}</a>
        </div>
      </div>
    </div>
  </div>
</main>
