<main>
  <slider-session-panel></slider-session-panel>
  <div class="Performer-section">
    <div class="Performer-header">Performer</div>
    <slider-loading-panel-entry
      *ngIf="stateService.isPerformerLoading"></slider-loading-panel-entry>
    <div 
      class="Performer-entry"
      *ngFor="let performer of stateService.Performer"
      [class.Performer-selected]="stateService.selectedPerformer === performer"
      (click)="onClickPerformer(performer)">
      <div>{{ performer.displayName }}</div>
      <div *ngIf="stateService.selectedPerformer === performer">
        <div 
          *ngIf="stateService.selectedPerformer.socialIg"
          class="Performer-attribute">
          &#64;{{ performer.socialIg }}
        </div>
        <div 
          *ngIf="stateService.selectedPerformer.link"
          class="Performer-attribute">
          <a 
            [href]="stateService.selectedPerformer.link"
            target="_blank">
            {{ performer.link }}</a>
        </div>
      </div>
    </div>
  </div>
</main>
