<div class="canvas">
  <div class="preview-header"
    *ngIf="showHeader">Preview</div>
  <div class="preview-placeholder"
    *ngIf="!performer.performerId">
    <div>Select a <b>Performer</b> to see details</div>
  </div>
  <div class="preview-section"
    *ngIf="performer.performerId">
    <div class="display-name">
      {{ performer.displayName }}
    </div>
    <div class="link" *ngIf="performer.link">
      URL: {{ performer.link || "No Link" }}
    </div>
    <div class="social-link" *ngIf="performer.socialIg">
      IG: &#64;{{ performer.socialIg || "UNDEFINED" }}
    </div>
  </div>
  <div
    *ngIf="nextPerformer" 
    class="preview-footer">
    <div class="next">
      Next Up: {{ nextPerformer.displayName }}
    </div>
  </div>
</div>