<div class="canvas">
  <div class="preview-header">Preview</div>
  <div class="preview-placeholder"
    *ngIf="!stateService.isPerformerSelected">
    <div>Select a <b>Performer</b> to see details</div>
  </div>
  <div class="preview-section"
    *ngIf="stateService.isPerformerSelected">
    <div class="display-name">
      {{ stateService.selectedPerformer.displayName }}
    </div>
    <div class="link" *ngIf="stateService.selectedPerformer.link">
      URL: {{ stateService.selectedPerformer.link || "No Link" }}
    </div>
    <div class="social-link" *ngIf="stateService.selectedPerformer.socialIg">
      IG: &#64;{{ stateService.selectedPerformer.socialIg || "UNDEFINED" }}
    </div>
  </div>
  <div
    *ngIf="stateService.nextPerformer" 
    class="preview-footer">
    <div class="next">
      Next Up: {{ stateService.nextPerformer.displayName }}
    </div>
  </div>
</div>