main {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

slider-session-manager {
  flex-grow: 1;
  display: flex;
}

slider-app-header {
  width: 100%;
  display: block;
}