
.performer-section {
  width: 200px;
  float: left;
}

.performer-header {
  padding: 8px;
  color: white;
  background-color: indigo;
}

.performer-entry {
  padding: 8px;
}

.performer-entry:hover {
  cursor: pointer;
}

.performer-entry:hover:not(.performer-selected) {
  background-color: honeydew;
}

.performer-attribute {
  padding-top: 8px;
  font-weight: normal;
}

.performer-selected {
  font-weight: bold;
  background-color: plum;
}

.performer-add-button {
  background-color: bisque;
  border: 2px solid darksalmon;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

.performer-add-button:hover {
  background-color: darksalmon;
  cursor: pointer;
}
