<div class="performer-section">
  <div class="performer-header">Performers</div>
  <div class="section-body">
   <slider-loading-panel-entry
      *ngIf="stateService.isPerformerLoading"></slider-loading-panel-entry>
    <table cellspacing="0" cellpadding="0">
      <tr 
        *ngFor="let performer of stateService.selectedSession.performers; index as ctr"
        [class.performer-selected]="stateService.selectedPerformer === performer">
        <td>
          <input type="radio"
            [(ngModel)]="stateService.selectedSession.currentPos"
            (change)="onCurrentPosChange(ctr)"
            [value]="ctr">
        </td>
        <td>
          <slider-performer-edit-panel
            *ngIf="isEditing && stateService.selectedPerformer === performer"
            [performer]="performer"
            (submit)="onClickSubmitEditPerformer(performer)"
            (cancel)="onClickCancelEditPerformer()">
          </slider-performer-edit-panel>
          <div
            class="performer-entry"
            *ngIf="stateService.selectedPerformer !== performer"
            (click)="onClickPerformer(performer)">
            {{ performer.displayName }}
          </div>
          <div
            class="performer-entry" 
            *ngIf="!isEditing && stateService.selectedPerformer === performer">
            <div class="performer-attribute">{{ performer.displayName }}</div>
            <div 
              *ngIf="stateService.selectedPerformer.socialIg"
              class="performer-attribute">
              &#64;{{ performer.socialIg }}
            </div>
            <div 
              *ngIf="stateService.selectedPerformer.link"
              class="performer-attribute">
              <a 
                [href]="stateService.selectedPerformer.link"
                target="_blank">
                {{ performer.link }}</a>
            </div>
            <button
              class="performer-edit-button"
              (click)="onClickEditPerformer(performer)">Edit</button>
            <button
              class="performer-moveup-button"
              *ngIf="ctr > 0"
              (click)="onClickMoveUp(performer)">Up</button>
            <button
              class="performer-moveup-button"
              *ngIf="ctr < stateService.selectedSession.performers.length - 1"
              (click)="onClickMoveDown(performer)">Down</button>
            <button
              class="performer-delete-button"
              (click)="onClickDelete(performer)">X</button>
          </div>
        </td>
      </tr>
    </table>
    <button
      class="performer-add-button"
      *ngIf="stateService.isSessionSelected && !isAdding && !stateService.isPerformerLoading"
      (click)="onClickAddPerformer()">Add Performer...</button>
    <slider-performer-edit-panel
      *ngIf="isAdding"
      [performer]="stateService.dirtyPerformer"
      (submit)="onClickSubmitAddPerformer(stateService.dirtyPerformer)"
      (cancel)="onClickCancelAddPerformer()">
    </slider-performer-edit-panel>
  </div>
</div>