object {
  pointer-events: none;
}

.performer-section {
  height: 100%;
  width: -webkit-fill-available;

  display: flex;
  flex-direction: column;
}

.performer-toolbar {
  border-bottom: 1px solid cornflowerblue;
  background-color: #cfe2f3;
  height: 35px;
  padding: 4px;
}

.performer-toolbar > button {
  padding: 0;
  background-color: #1155cc;
  border: 1px solid #1155cc;
  border-radius: 2px;
  height: 26px;
  width: 26px;
  margin-right: 4px;
}

.performer-toolbar > button:disabled {
  padding: 0;
  background-color: #cfe2f3;
  border: 1px solid #cfe2f3;
  border-radius: 2px;
  height: 26px;
  width: 26px;
  margin-right: 4px;
  cursor: default;
}

.performer-toolbar > button:hover:not(:disabled) {
  padding: 0;
  background-color: #1c4587;
  border: 1px solid #1c4587;;
  border-radius: 2px;
}

.section-body {
  flex-grow: 1;
  height: 0px;
  overflow-y: auto;
}

.section-body > table {
  width: 100%
}

td.selector {
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  width: 20px;
}

.performer-header {
  flex-grow: None;
  padding: 8px;
  font-weight: bold;
  border-bottom: 1px solid cornflowerblue;
}

.performer-entry {
  padding: 8px;
}

.performer-entry:hover {
  cursor: pointer;
}

tr:not(.performer-selected):hover {
  background-color: #cfe2f3;
}

.performer-attribute:not(:first-child) {
  padding-top: 8px;
  font-weight: normal;
}

.performer-entry > button {
  margin-top: 8px;
  margin-right: 4px;
}

.performer-selected {
  background-color: #1c4587;
  color: white;
}

.performer-add-button {
  margin: 8px;
  width: -webkit-fill-available;
}
