/* You can add global styles to this file, and also import other style files */
html, body {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #1155cc;
  border: 1px solid #1155cc;
  color: white;
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
  text-align: center;
}

button:hover {
  background-color: #1c4587;
  cursor: pointer;
}

slider-session-manager {
  height: 100%;
}

slider-show {
  height: 100%;
  display: flex;
  flex-direction: column;
}

slider-performer-show-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
